.AddEntryBar {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    gap: 12px;
    padding: 8px;
    align-items: center;
    outline: white 1px solid;
    min-width: 0;
}

.AddEntryBar > * {
    min-width: 0;
    overflow: hidden;
}

.AddEntryBar input[type="text"] {
    padding: 6px 8px;
    outline: var()
}

.WeightGroup {
    display: flex;
    align-items: center;
    gap: 6px;
}

.WeightGroup input[type="number"] {
    width: 70px;
    padding: 6px 8px;
}

.WeightLabel {
    opacity: 0.8;
    font-size: 0.9rem;
}

.ColorPicker {
    width: 40px;
    height: 34px;
    padding: 0;
    border: none;
    background: transparent;
}

input.error {
    outline: 2px solid red;
}

.ColorGroup {
    position: relative;
    display: flex;
    align-items: center;

}

.RandomColorCheckbox {
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: 10;
}