.AddEntryBar {
    display:grid;
    grid-template-rows: auto auto auto auto;
    gap: 12px;
    padding: 8px;
    align-items: center;
    outline: white 1px solid;
}

.AddEntryBar > * {
    overflow: hidden;
}

.AddEntryBar input[type="text"] {
    padding: 6px 8px;
    outline: var();
}

.WeightGroup {
    display: flex;
    align-items: center;
    max-width: auto;
    gap: 6px;
}

.WeightGroup input[type="number"] {
    padding: 6px 8px;
    width: 20%;
}

.WeightLabel {
    opacity: 0.8;
    font-size: 1rem;
}
.Explanation {
    font-size: 1rem;
    opacity: 0.5;
}

.ColorPicker {
    width: 100%;
    height: 34px;
    padding: 0;
    border: none;
    background: transparent;
}

input.error {
    outline: 3px solid red;
}

.ColorGroup {
    position: relative;
    display: flex;
    align-items: center;

}

.RandomColorCheckbox {
    position: absolute;
    bottom: -2px;
    right: 0px;
    z-index: 10;
}