.ButtonIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 4px 6px;
    min-width: 32px;
    max-width: fit-content;
    height: 32px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 4px;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: 'Arial Black';
}

.ButtonIcon:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.ButtonIcon:active {
    transform: translateY(1px);
}

.ButtonIcon:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
}



.ButtonIcon--add {
    background-color: hwb(96 0% 58%);
    border-color: #41f547;
}

.ButtonIcon--add:hover {
    background-color: #59e900;
    box-shadow: 0 0 8px rgba(1, 156, 6, 0.4);
}



.ButtonIcon--delete {
    background-color: #311d1d;
    border-color: #ff6b6b;
}

.ButtonIcon--delete:hover {
    background-color: #b40000;
    box-shadow: 0 0 8px rgba(255, 107, 107, 0.4);
}



.ButtonIcon--spin {
    background-color: #ebb42b;
    border-color: #ffeb3b;
    color: #000000;
}

.ButtonIcon--spin:hover {
    background-color: #ffc400;
    box-shadow: 0 0 12px rgba(230, 207, 3, 0.5);
}



.ButtonIcon--nav {
    background-color: #1a3a5d;
    border-color: #42a5f5;
    color: #cae7ff;
}

.ButtonIcon--nav:hover {
    background-color: #0092d6;
    box-shadow: 0 0 8px rgba(66, 165, 245, 0.4);
}



.ButtonIcon--default {
    border-color: #1f1f1f;
    color: #ccc;
}

.ButtonIcon--default:hover {
    background-color: rgba(119, 119, 119, 0.1);
}