.EntryListItem {
    display: grid;

    grid-template-columns: 1fr auto auto auto;

    align-items: center;

    padding: 8px 10px;
    padding-left: 8px;
    border: 4px solid var(--entry-color);
    background: rgba(255, 255, 255, 0.04);
    border-radius: 4px;
    margin-bottom: 6px;
    min-width: 0; 
}

.EntryListItem > * {
    min-width: 0;
}

.EntryName {
    display: flex;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1rem;
    text-align: center;
}


.EntryPercent {
    display: flex;
    text-align: center;
    padding: 0 1.5rem;
}

.EntryButtons {
    display: flex;
    gap: 6px;
}

.ButtonIcon {
    border: 1px solid white !important;
    border-radius: 4px;
    padding: 4px 6px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}