.MainLayout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.Header {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    box-sizing: border-box;
}

.TopButtons {
    display: flex;
    gap: 12px;
}

.ContentArea {
    display: flex;
    flex: 1;
    height: calc(100vh - 56px);
    overflow: hidden;  
}

.pane,
.MainContent {
    height: 100%;
    min-height: 0;
    overflow-y: auto;       
    box-sizing: border-box;
}

.MainContent {
    min-width: unset; 
    flex-grow: 1;
    border: 1px solid #ddd;
}

.pane {
    width: 500px;
    max-width: 500px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.back-button-top {
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 5;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.left-pane,
.main,
.right-pane {
    position: relative;
    transition: transform 0.3s ease;
}

.top-buttons {
    display: none;
    gap: 0.5rem;
    padding: 0.5rem;
}

@media (min-width: 1600px) {
    .container {
        flex-direction: row;
    }

    .left-pane {
        flex: 1;
    }

    .main {
        flex: 2;
    }

    .right-pane {
        flex: 1;
    }

    .top-buttons {
        display: none;
    }
}

@media (max-width: 1600px) and (min-width: 1100px) {
    .container {
        display: flex;
        position: relative;
    }

    .left-pane {
        flex: 1;
    }

    .main {
        flex: 2;
        z-index: 2;
    }

    .right-pane {
        flex: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        transform: translateX(100%);
        z-index: 3;
    }


    .show-stats .left-pane {
        transform: translateX(-100%);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }

    .show-stats .right-pane {
        transform: translateX(0);
    }

    .top-buttons {
        display: none;
    }
}

@media (max-width: 1100px) {

    .LeftPane,
    .RightPane,
    .MainContent {
        position: relative;
        width: 100%;
        height: 100%;
        min-width: 500px;
        overflow-y: auto;
        transform: none;
    }
    .main {
        z-index: 1;
    }

    .left-pane,
    .right-pane {
        z-index: 2;
    }
}